@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'), url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: local('Poppins-SemiBold'), url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins-Bold'), url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

:root {
    --white: #FFF;
    --black: #000;
    --orange-main: #FD6F00;
    --orange-second: #FFEBDB;
    --dark-gray-h: #1E1E1E;
    --dark-gray-text: #424242;
    --gray-sm-bg: #F8F8F8;
    --gray-roll: #EDECEC;
    --gray-stroke: #545454;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins-Regular';
    font-size: 21px;
    background-color: var(--white);
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 44px;
}

@media (min-width: 1024px) {
    h2 {
        font-size: 54px;
    }
}

/*--------button--start--------*/
.main-btn {
    background-color: var(--orange-main);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 138px;
    height: 32px;
}

.main-btn:active {
    font-family: 'Poppins-Medium';
    border: 2px solid var(--orange-main);
}

@media (min-width: 1024px) {
    .main-btn:hover {
        background-color: var(--white);
        color: var(--orange-main);
        border: 1px solid var(--orange-main);
    }
}

/*--------button--end--------*/

/*===================== mobile version 375px =====================*/
/* header start */
#header {
    z-index: 99;
}

#header .header__burger {
    padding-top: 20px;
    width: 36px;
    position: absolute;
    right: 20px;
}

#header .header__close-burger {
    width: 26px;
    position: absolute;
    right: 20px;
    top: 20px;
}

#header .header__menu-list {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    background-color: var(--white);
    padding: 40px 10px;
    width: 100%;
    text-align: center;
    z-index: 99;
}

#header .header__menu-list a {
    color: var(--black);
}

#header .header__menu-list a:active {
    color: var(--orange-main);
}

#header a.header__menu-list__download-btn {
    color: var(--white);
}

#header a.header__menu-list__download-btn:active {
    color: var(--white);
}

/* header end */

/* main start */
#main .main__container {
    display: flex;
    flex-direction: column;
    padding: 60px 20px 20px;
    width: 375px;
    margin: 0 auto;
}

#main .main__greeting {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
}

#main .main__greeting .main__hi {
    font-family: 'Poppins-SemiBold';
    font-size: 20px;
}

#main .main__greeting .main__name {
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    color: var(--orange-main);
}

#main .main__greeting .main__position {
    font-family: 'Poppins-Bold';
    font-size: 50px;
    line-height: 65px;
}

#main .main__greeting .main__greet {
    font-size: 14px;
}

#main .main__me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#main .main__me .main__me__photo {
    margin: 30px 0;
    width: 250px;
}

#main .main__me .main__me__linkedin {
    width: 30px;
}

/* main end" */

/* about me start */
#about-me .about-me__container {
    width: 375px;
    margin: 0 auto;
}

#about-me .about-me__photo-container {
    display: none;
}

#about-me .about-me__skills {
    padding: 20px;
}

#about-me .about-me__skills .about-me__text {
    font-size: 16px;
}

#about-me .about-me__skills .about-me__skills-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#about-me .about-me__skills .about-me__skill_label {
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    margin-top: 10px;
}

#about-me .about-me__skills .about-me__skill {
    -webkit-appearance: none;
}

input[type="range"] {
    background-color: transparent;
}

#about-me .about-me__skills .about-me__skill::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: var(--orange-main);
    border: none;
    border-radius: 6px;
}

#about-me .about-me__skills .about-me__skill::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid var(--orange-main);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: var(--gray-roll);
    margin-top: -10px;
}

#about-me .about-me__skills .about-me__skill::-moz-range-track {
    width: 100%;
    height: 10px;
    background-color: var(--gray-roll);
    border: none;
    border-radius: 6px;
}

#about-me .about-me__skills .about-me__skill::-moz-range-thumb {
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--orange-main);
}

#about-me .about-me__skills .about-me__skill::-moz-range-progress {
    background-color: var(--orange-main);
}

#about-me .about-me__skills .about-me__skill::-ms-track {
    width: 100%;
    height: 10px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

#about-me .about-me__skills .about-me__skill::-ms-thumb {
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: var(--orange-main);
}

#about-me .about-me__skills .about-me__skill::-ms-fill-lower {
    background: var(--orange-main);
    border-radius: 10px;
}

#about-me .about-me__skills .about-me__skill::-ms-fill-upper {
    background: var(--gray-roll);
    border-radius: 10px;
}

/* about me end */

/* services start */
#services .services__container {
    width: 375px;
    margin: 0 auto;
    padding: 20px;
}

#services .services__container .services__description {
    font-size: 16px;
    margin-bottom: 24px;
}

#services .services__container .services__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#services .services__container .services__card {
    width: 330px;
    height: 346px;
    background-color: var(--gray-sm-bg);
    padding: 46px 18px 10px 22px;
    border-radius: 14px;
}

#services .services__container .services__card__img {
    width: 64px;
}

#services .services__container .services__card__header {
    font-family: "Poppins-SemiBold";
    font-size: 21px;
    margin: 15px 0 10px;
}

#services .services__container .services__card__text {
    font-size: 14px;
}

/* services end */

/* my projects start */
#my-projects .my-projects__container {
    width: 375px;
    margin: 0 auto;
    padding: 20px;
}

#my-projects .my-projects__container .my-projects__description {
    font-size: 16px;
    margin-bottom: 24px;
}

#my-projects .my-projects__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

#my-projects .my-projects__projects .my-projects__project-container {
    width: 330px;
    height: 489px;
}

#my-projects .my-projects__projects .my-projects__project-container__img {
    width: 330px;
    border-radius: 12px;
}

#my-projects .my-projects__projects .my-projects__project-container__img:active {
    filter: drop-shadow(0 0 0.5rem var(--gray-stroke));
}

#my-projects .my-projects__projects .my-projects__project-container__header {
    font-family: "Poppins-Bold";
    font-size: 18px;
    color: var(--black);
    margin-top: 10px;
    text-decoration: underline;
    text-align: center;
}

#my-projects .my-projects__projects .my-projects__project-container__header:active {
    color: var(--dark-gray-text);
}

/* my projects end */

/* contact start */
#contact .contact__container {
    width: 375px;
    margin: 0 auto;
    padding: 20px;
}

#contact .contact__container .contact__description {
    font-size: 16px;
    margin-bottom: 24px;
}

#contact .contact__container .contact__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact .contact__container .contact__form .contact__form__button {
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 14px;
}

#contact .contact__container .contact__form .contact__form__input {
    height: 45px;
    background-color: var(--gray-sm-bg);
    border: 1px solid #AFAFAF;
    border-radius: 14px;
    outline: none;
    padding-left: 14px;
}

#contact .contact__container .contact__form .contact__form__input:focus {
    border: 1px solid var(--orange-main);
}

#contact .contact__container .contact__form .contact__form__input::placeholder {
    color: #AFAFAF;
    opacity: 1;
    font-size: 16px;
}

/*success*/
.contact__success-window {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    border: 1px var(--orange-main) solid;
    border-radius: 10px;
    z-index: 100;
    background-attachment: fixed;
    padding: 0 16px 0 16px;
    background-color: var(--white);
    display: none;
}

.contact__success-window .contact__success-window_icon-close {
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px 16px 0 0;
    cursor: pointer;
}

.contact__success-window .contact__success-window_text1 {
    font-size: 28px;
    line-height: 37.1px;
    text-align: center;
    margin: 60px 0 11px;
}

.contact__success-window .contact__success-window_text2 {
    font-size: 18px;
    line-height: 23.85px;
    text-align: center;
}

/* contact end */

/* footer start */
#footer {
    background-color: var(--gray-sm-bg);
    padding: 20px;
    text-align: center;
}

#footer .footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    margin-bottom: 15px;
}

#footer .footer__menu-list a {
    color: var(--black);
}

#footer .footer__menu-list .footer__menu-list__item a:active {
    color: var(--orange-main);
}

/* footer end */

/* top button start */
#on-top .icon-arrow-up {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    border: none;
    background-color: transparent;
}

/* top button end*/

.modal-backdrop {
    width: 103vw;
    height: 105vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(150, 150, 150, 0.05);
    touch-action: none;
    -ms-touch-action: none;
    z-index: 98;
    display: none;
}

/*=============================================================*/
/*------------------------ @ media ----------------------------*/

@media (min-width: 768px) {

    /* services start */
    #services .services__container {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #services .services__container .services__description {
        font-size: 16px;
        margin-bottom: 32px;
    }

    #services .services__container .services__cards {
        display: flex;
        flex-direction: row;
        gap: 31px;
        justify-content: center;
    }

    #services .services__container .services__card__header {
        font-size: 19.5px;
    }

    /* services end */

    /* my projects start */
    #my-projects .my-projects__container {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #my-projects .my-projects__container .my-projects__description {
        font-size: 16px;
        margin-bottom: 32px;
    }

    #my-projects .my-projects__projects {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    #my-projects .my-projects__projects .my-projects__project-container {
        width: 220px;
        height: 340px;
    }

    #my-projects .my-projects__projects .my-projects__project-container__img {
        width: 220px;
    }

    #my-projects .my-projects__projects .my-projects__project-container__header {
        font-size: 16px;
    }

    #my-projects .my-projects__projects .my-projects__project-container__header:hover {
        color: var(--orange-main);
    }

    /* my projects end */

    /* contact start */
    #contact .contact__container {
        width: 768px;
        text-align: center;
    }

    #contact .contact__container .contact__description {
        font-size: 16px;
        margin-bottom: 32px;
    }

    #contact .contact__container .contact__form {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    #contact .contact__container .contact__form .contact__form__button {
        width: 200px;
        height: 55px;
        font-size: 18px;
    }

    #contact .contact__container .contact__form .contact__form__input {
        height: 55px;
        width: 300px;
        background-color: var(--gray-sm-bg);
        border: 1px solid #AFAFAF;
        border-radius: 14px;
        outline: none;
        padding-left: 24px;
        font-size: 16px;
    }

    #contact .contact__container .contact__form .contact__form__input::placeholder {
        color: #AFAFAF;
        opacity: 1;
        font-size: 16px;
    }

    .contact__success-window {
        width: 400px;
    }

    /* contact end */

    /* footer start */
    #footer .footer__menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 18px;
        gap: 26px;
    }

    #footer .footer__menu-list .footer__menu-list__item a:active {
        color: var(--orange-main);
    }

    /* footer end */
}

/*=============================================================*/
/*------------------------ @ media ----------------------------*/

@media (min-width: 1024px) {

    /*===================== desktop version 1024px =====================*/
    /* header start */
    #header {
        padding: 30px;
        z-index: 96;
    }

    #header .header__burger {
        display: none;
    }

    #header .header__close-burger {
        display: none;
    }

    #header .header__menu-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 84px;
        justify-content: center;
        font-size: 18px;
        padding: 20px;
        z-index: 96;
    }

    #header .header__menu-list a {
        color: var(--black)
    }

    #header .header__menu-list a:hover {
        color: var(--orange-main)
    }

    #header .header__menu-list a:active {
        color: var(--dark-gray-text)
    }

    #header a.header__menu-list__download-btn {
        color: var(--white);
    }

    #header a.header__menu-list__download-btn:active {
        color: var(--white);
    }

    #header .header__menu-list__download:hover {
        color: var(--orange-main);
    }

    /* header end */

    /* main start */
    #main .main__container {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding: 30px 50px;
        width: 1024px;
    }

    #main .main__greeting {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 0;
    }

    #main .main__greeting .main__hi {
        font-size: 24px;
    }

    #main .main__greeting .main__name {
        font-size: 30px;
    }

    #main .main__greeting .main__position {
        font-size: 80px;
        line-height: 80px;
    }

    #main .main__greeting .main__greet {
        margin-top: 20px;
        font-size: 16px;
    }

    #main .main__me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    #main .main__me .main__me__photo {
        width: 300px;
        margin-bottom: 20px;
    }

    /* main end" */

    /* about me start */
    #about-me .about-me__container {
        padding: 30px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;
        width: 1024px;
    }

    #about-me .about-me__photo-container {
        display: block;
    }

    #about-me .about-me__photo-container .about-me__photo {
        width: 300px;
    }

    #about-me .about-me__skills .about-me__text {
        font-size: 16px;
    }

    #about-me .about-me__skills .about-me__skills-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;
    }

    #about-me .about-me__skills .about-me__skill_label {
        font-size: 24px;
    }

    /* about me end */

    /* services start */
    #services .services__container {
        padding: 30px 50px;
        width: 1024px;
    }

    /* services end */

    /* my projects start */
    #my-projects .my-projects__container {
        padding: 30px 50px;
        width: 1024px;
    }

    #my-projects .my-projects__projects .my-projects__project-container {
        width: 300px;
        height: 440px;
    }

    #my-projects .my-projects__projects .my-projects__project-container__img {
        width: 300px;
        height: 386px;
    }

    #my-projects .my-projects__projects .my-projects__project-container__header {
        font-size: 20px;
    }

    /* my projects end */

    /* contact start */
    #contact .contact__container {
        width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 50px;
    }

    /* contact end */

    /* footer start */
    #footer .footer__menu-list .footer__menu-list__item a:hover {
        color: var(--orange-main);
    }

    #footer .footer__menu-list .footer__menu-list__item a:active {
        color: var(--dark-gray-text);
    }

    /* footer end */

    #main:before,
    #about-me:before,
    #services:before,
    #my-projects:before,
    #contact:before {
        content: "";
        display: block;
        height: 72px;
        margin-top: -72px;
    }

    /*=============================================================*/
    /*------------------------ @ media ----------------------------*/
}